/* style-principal.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('/img/fundo-adm.jpg') no-repeat left bottom ;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h2#welcome {
  margin-top: 50px;
  color: #ffffff;
  font-size: 28px;
}

#info-aluno {
  margin-top: 30px;
  padding: 20px 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
}

#info-aluno p {
  font-size: 18px;
  color: #34495e;
  margin: 12px 0;
}

#info-aluno span {
  color: #2c3e50;
}
